# Откройте Anaconda Prompt и выполните следующию команду (команду также можно выполнить из ячейки Jupyter)
# _pip install psycopg2_
# (для MacOS) 
# _pip install psycopg2-binary_

In [1]:
# Создаем соединение c базой данных (ВНИМАНИЕ! Ваши данные для подключения с БД могут отличаться от данного примера)
import psycopg2 # драйвер для postgresql
import getpass  # прячем параль, чтобы не писать его в параметрах

conn=psycopg2.connect(user='postgres',
                      database='test',
                      host='localhost',
                      port='5432',
                      password=getpass.getpass('Insert password: ')
                        )
print(conn.get_dsn_parameters())

Insert password: ········
{'user': 'postgres', 'dbname': 'test', 'host': 'localhost', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

In [4]:
# Запрос кодов бимаг
import pandas as pd
query_sec="SELECT DISTINCT \"SECCODE\" FROM order_log ORDER BY \"SECCODE\" ASC"
securities=pd.read_sql_query(query_sec,conn)
securities[50:70]

   SECCODE
50    FXGD
51    FXIT
52    FXJP
53    FXMM
54    FXRB
55    FXRU
56    FXUK
57    FXUS
58    GAZA
59   GAZAP
60    GAZP
61    GCHE
62    GMKN
63    GRAZ
64    GTLC
65    GTPR
66    HALS
67   HIMCP
68    HYDR
69    IDVP

In [5]:
# Получение данных из БД с помощью pandas
import pandas as pd
query="SELECT * FROM order_log WHERE \"TIME\"<=170000000 AND \"SECCODE\"='ALRS'"
orders=pd.read_sql_query(query,conn)
# Обратите внимание, что специальные символы Python в текстовых переменных следует отделять символом \,
# чтобы те воспринимались как обычный текст.
orders.shape

(97205, 10)

In [6]:
# Вспомогательное окно для проверки данных

# orders[orders['PRICE']==111.00]
# orders[orders['PRICE']==0]
# orders[orders['ORDERNO']==746540]

Empty DataFrame
Columns: [NO, SECCODE, BUYSELL, TIME, ORDERNO, ACTION, PRICE, VOLUME, TRADENO, TRADEPRICE]
Index: []

In [8]:
# Построение книги лимитированных заявок (LOB)

# Устанавливаем маску лимитных заявок заявках
no_mrk_ind=orders['PRICE']!=0

#  Таблица выставленных заявок
plc=orders[['ORDERNO','BUYSELL','PRICE','VOLUME']][(orders['ACTION']==1) & no_mrk_ind]

# Таблица отозванных заявок
wdr=orders[['ORDERNO','VOLUME']][(orders['ACTION']==0) & no_mrk_ind]

# Таблица исполненных объемов
trds=orders[['ORDERNO','VOLUME']][(orders['ACTION']==2) & no_mrk_ind] 
trds=trds[['ORDERNO','VOLUME']].groupby(['ORDERNO']).sum()
trds['ORDERNO']=trds.index
trds.index=range(trds.shape[0])

# Книга (aka стакан, aka LOB)
lob=pd.merge(plc,wdr, on='ORDERNO',how='left',suffixes=('_plc','_wdr'))
lob=pd.merge(lob,trds, on='ORDERNO', how='left')
lob=lob.rename(columns={'VOLUME':'VOLUME_trds'})
lob=lob.fillna(0)
lob['TOTAL_VOL']=lob['VOLUME_plc']-lob['VOLUME_wdr']-lob['VOLUME_trds']
lob=lob[lob['TOTAL_VOL']>0]
lob=lob.pivot_table(index='PRICE',columns='BUYSELL',values='TOTAL_VOL',aggfunc='sum')
lob.sort_index(axis=0,inplace=True, ascending=False)
lob=lob.fillna(0)
lob

BUYSELL        B        S
PRICE
59.80        0.0   5300.0
59.00        0.0  11000.0
58.52        0.0  23500.0
58.00        0.0   3500.0
57.48        0.0   1000.0
57.00        0.0   3500.0
56.95        0.0   5900.0
56.81        0.0  14900.0
56.60        0.0  15000.0
56.50        0.0   2500.0
56.35        0.0   4900.0
56.30        0.0    900.0
56.25        0.0  10000.0
56.20        0.0   4900.0
56.17        0.0    500.0
56.15        0.0    900.0
56.05        0.0   4900.0
56.00        0.0  16700.0
55.99        0.0    500.0
55.98        0.0  25100.0
55.96        0.0   1400.0
55.94        0.0    200.0
55.92        0.0    100.0
55.90        0.0   1700.0
55.89        0.0    200.0
55.85        0.0   2100.0
55.83        0.0   3000.0
55.80        0.0    500.0
55.75        0.0    100.0
55.66        0.0    700.0
...          ...      ...
52.80     5000.0      0.0
52.75    10000.0      0.0
52.60      200.0      0.0
52.56      500.0      0.0
52.55     5000.0      0.0
52.53      500.0      0.0
52.52     2600.0      0.0
52.50      200.0      0.0
52.48     1500.0      0.0
52.37     5000.0      0.0
52.17     5000.0      0.0
52.10    20000.0      0.0
52.07      500.0      0.0
52.06      500.0      0.0
52.00      100.0      0.0
51.85     2000.0      0.0
51.57      500.0      0.0
51.55     1000.0      0.0
51.53      500.0      0.0
51.05      200.0      0.0
51.00      400.0      0.0
50.83     2000.0      0.0
50.75     2000.0      0.0
50.58     5000.0      0.0
50.39     5500.0      0.0
50.28      100.0      0.0
50.27      100.0      0.0
50.00      500.0      0.0
49.75     3000.0      0.0
47.35     1000.0      0.0

[195 rows x 2 columns]

In [6]:
# Список аргументов
# Код эмитента
# Время - 
# Login - db_login

def my_fun(sec,time,db_login):
    conn=psycopg2.connect(user=db_login['user'],
                      database=db_login['database'],
                      host=db_login['host'],
                      port=db_login['port'],
                      password=getpass.getpass('Insert password: '))
    query="SELECT * FROM order_log WHERE \"TIME\"<="+str(time)+" AND \"SECCODE\"="+sec
    orders=pd.read_sql_query(query,conn)
    
    # Устанавливаем маску лимитных заявок заявках
    no_mrk_ind=orders['PRICE']!=0

    #  Таблица выставленных заявок
    plc=orders[['ORDERNO','BUYSELL','PRICE','VOLUME']][(orders['ACTION']==1) & no_mrk_ind]

    # Таблица отозванных заявок
    wdr=orders[['ORDERNO','VOLUME']][(orders['ACTION']==0) & no_mrk_ind]

    # Таблица исполненных объемов
    trds=orders[['ORDERNO','VOLUME']][(orders['ACTION']==2) & no_mrk_ind] 
    trds=trds[['ORDERNO','VOLUME']].groupby(['ORDERNO']).sum()
    trds['ORDERNO']=trds.index
    trds.index=range(trds.shape[0])

    # Книга (aka стакан, aka LOB)
    lob=pd.merge(plc,wdr, on='ORDERNO',how='left',suffixes=('_plc','_wdr'))
    lob=pd.merge(lob,trds, on='ORDERNO', how='left')
    lob=lob.rename(columns={'VOLUME':'VOLUME_trds'})
    lob=lob.fillna(0)
    lob['TOTAL_VOL']=lob['VOLUME_plc']-lob['VOLUME_wdr']-lob['VOLUME_trds']
    lob=lob[lob['TOTAL_VOL']>0]
    lob=lob.pivot_table(index='PRICE',columns='BUYSELL',values='TOTAL_VOL',aggfunc='sum')
    lob.sort_index(axis=0,inplace=True, ascending=False)
    lob=lob.fillna(0)
    
    results={'SECCODE': sec, 'TIME': time, 'LOB': lob }
    return results

SyntaxError: invalid syntax (<ipython-input-6-089e3c97ccf2>, line 12)

In [16]:
dic={'el1': [1,2,3], 'el2': 'Hello!'}
dic['el1']
x=str(100000)
time=170000000
sec='ALRS'
"SELECT * FROM order_log WHERE \"TIME\"<="+str(time)+" AND \"SECCODE\"='"+sec+"'"

'SELECT * FROM order_log WHERE "TIME"<=170000000 AND "SECCODE"=\'ALRS\''